<section class ="comments">
  {{#each this}}
    <div class="card row row-cols-1 row-cols-md-1 d-flex">
        <div class="card-header"></div>
            <p class="card-body border border-dark">{{comment_text}}<br />-{{user.username}}, {{format_date created_at}}</p>
    </div>
  {{/each}}
</section>