<section class ="user-post">
    <div class="text-white bg-secondary row row-cols-1 row-cols-md-1 rounded-lg">
        <div class="d-flex justify-content-between">
            <h5><a class="user-post-link" href="/dashboard/edit/{{id}}">{{title}}</a></h5>
            <h5 class="user-post-link-date">{{format_date created_at}}</h5>
        </div>
    </div>
</section>