
{{> main-header post.main-header}}

<!-- start of main section -->

<main>
    {{#if posts.length}}
<section>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}

</section>
{{/if}}
</main>

<!-- end of main section -->