<!-- start of main section -->

<main>
    <div class="login card card row row-cols-1 row-cols-md-1 d-flex">
        <h3 class="card-header">Login</h3>
        <form id="login-form" class="card-body border border-dark">
          <label class="form-label" for="username-login">Username</label><br />
          <input  id="username-login" type="text" autofocus="true" class="form-input" /><br />
  
          <label class="form-label" for="password-login">Password</label> <br />
          <input id="password-login" type="password" autofocus="true" class="form-input" /><br />
  
          <button type="submit" class="btn">Login!</button> <br />
          <a class="login-link" href="/signup">Sign up instead</a>
        </form>
    </div>
</main>


<!-- end of main section -->