
{{> secondary-header post.secondary-header}}

<!-- start of main section -->

{{!-- code for html for creating new post --}}
<main>
    <div class="create-new-post card card row row-cols-1 row-cols-md-1 d-flex">
        <h3 class="card-header">Create New Post</h3>
        <form id="new-post-form" class="card-body border border-dark">
          <label class="form-label" for="title">Title</label><br />
          <textarea name="title" type="text" autofocus="true" class="form-input" /></textarea><br />
  
          <label class="form-label" for="content">Content</label> <br />
          <textarea name="content" type="text" autofocus="true" class="form-input-create-new-post" /></textarea><br />
  
    
          <button type="create" class="btn"><a href="/dashboard">Create</a></button>
        </form>
    </div>
</main>

<!-- start of footer section -->

<footer>
    <section class="footer">
        <button type="submit" class="new-post"><a href="/dashboard/new">+ New Post</a></button>
    </section>
</footer>

</body>

<!-- end of main section -->

<script src="/javascript/add-post.js"></script>