<!-- start of main section -->

<main>
    <div class="login card card row row-cols-1 row-cols-md-1 d-flex">
        <h3 class="card-header">Sign Up</h3>
        <form id="signup-form" class="card-body border border-dark">
          <label class="form-label" for="username-signup">Username</label><br />
          <input  id="username-signup" type="text" autofocus="true" class="form-input" /><br />
  
          <label class="form-label" for="password-signup">Password</label> <br />
          <input id="password-signup" type="password" autofocus="true" class="form-input" /><br />
  
          <button type="submit" class="btn">Sign Up!</button> <br />
          <a class="login-link" href="/signup">Login instead</a>
        </form>
    </div>
</main>


<!-- end of main section -->