<!-- start of main section -->
<main>

    {{#if loggedIn}}
    <section class ="post">
        <div class="card row row-cols-1 row-cols-md-1 d-flex">
            <div class="card-header">
            </div>
            <form id="signup-form" class="card-body border border-dark">

                <label class="form-label" for="comment">Comment</label><br />
          <textarea  id="comment" type="text" autofocus="true" class="form-input-comment"></textarea>

          <button type="submit" class="comment-btn">Submit</button> 
          <a class="comment-submit-link" href="/comments"></a>
        </form>
        {{/if}}
        </div>
    </section>
</main>
    
<!-- end of main section -->

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}